.SamePartBolck {
  display: flex;
}

.SamePartBolck .SamePartBolck-plus {
  width: 490px;
  height: 640px;
  overflow: hidden;
  margin: 0 10px;
}

.SamePartBolck .SamePartBolck-plus img {
  width: 100%;
  height: 640px;
  object-fit: cover;
  transform-origin: center;
}

.hover-zoom {
  overflow: hidden;
}

.hover-zoom img {
  transition: all 0.3s ease 0s;
  width: 100%;
}

.hover-zoom img:hover {
  transform: scale(1.25);
}
